@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
    
  ::selection {
    background: #8d8d8d;
  }